
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('fondo.png');
    background-size: cover;
    background-position: center; 
    color: white;
    overflow: auto;
}

header {
    background-color: rgba(22, 160, 133, 0.7); 
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    box-sizing: border-box; 
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    color: #fff; 
}

header nav {
    display: flex;
    align-items: center;
}

nav {
    background-color: rgba(39, 174, 96, 0.9);
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.8em 1.2em; 
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease; 
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0); 
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #fff; 
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: rgba(39, 174, 96, 0.9); 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

nav ul li:hover > ul {
    display: block;
}

main {
    padding: 2em;
    text-align: justify;
    margin-top: 5em;
    margin-bottom: 5em; 
}

main h3 {
    font-size: 1.5em;
    color: #27ae60; 
    margin-top: 2em;
}

main ul {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    border-radius: 10px;
    list-style: none;
}

main ul li {
    margin-bottom: 10px;
}

main ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

main ul li a:hover {
    color: #27ae60;
}

footer {
    background-color: rgba(22, 160, 133, 0.7); 
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000; 
}
